#header {
    background-color: #fff;
    border-bottom: 1px rgb(2, 127, 177) solid;
    box-shadow: 0px 2px 10px;
    padding: 20px 0;
    text-align: center;
}
#header figure > img {
    padding: 10px;
}
#header h1 {
    letter-spacing: 0.5%;
}
