@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&display=swap');
@import "commons.css";
@import "header.css";
@import "main.css";
@import "custom.css"; 

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: "Odor Mean Chey", serif;
}
