#main {
    background-color: #EB5B25;
    padding: 30px;
    border-top: 3px solid #5C4033;
    text-align: center;
}

#main form > label {
    display: block;
    margin-bottom: 15px;
}

#main form > input {
    text-align: center;
    background-color: #5C4033;
    border: 1px solid black;
    border-radius: 15px;
    padding: 18px 30px;
    cursor: pointer;
    margin-top: 25px;
}

#main form > input:hover {
    background-color: #000000;
    color: white;
}

#jokes {
    margin: 40px auto;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#category {
    margin-top: 20px;
}

#scelta {
    background-color: #5C4033;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 8px;
}
